body {
  box-sizing: border-box;
}

.ingredients-list {
  list-style-type: none;
}

/* .single-recipe {
  flex-basis: 1;
} */

.image-container {
  position: relative;
  transition: ease 0.3s;
}

/* .image-container img {
  height: 50%;
  width: 50%;
} */

.image-container:hover {
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
  transition: ease 0.3s;
  cursor: pointer;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  color: #fff;
  opacity: 0;
}

.single-result {
  margin: 16px;
}

.recipe-heading {
  margin: 16px;
}

.add-remove-text {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .add-remove-text {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  li {
    font-size: 14px;
  }
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .single-result,
  .recipe-heading {
    /* padding: 0; */
    margin: 2px;
  }
  .add-remove-text {
    font-size: 10px;
  }
  .instructions-btn {
    font-size: 14px;
    margin: 4px;
  }
}

@media (max-width: 385px) {
  .add-remove-text {
    font-size: 8px;
    text-align: center;
  }
  .add-remove-text {
    margin-right: 2px;
  }
}
