body {
  box-sizing: border-box;
}

.ingredients-list {
  list-style-type: none;
}

/* .single-recipe {
  flex-basis: 1;
} */

.image-container {
  position: relative;
  transition: ease 0.3s;
}

.image-container:hover {
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
  transition: ease 0.3s;
  cursor: pointer;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  color: #fff;
  opacity: 0;
}
